# Виртуальное окружение
venv/
.venv/
env/
.env/

# PyCharm
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/

# Результаты (картинки)
results/
*.png

# Файлы логов
*.log

# Файлы ОС
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.bak